body{
    margin: 0;
    padding: 0;
    background: #162331;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Loading{
width: 200px;
height: 200px;
box-sizing: border-box;
border-radius: 50%;
border-top:10px  solid #d61b06 ;
position: relative;
animation: a1 2s linear infinite;
}


.Loading::before, .Loading::after{
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.Loading::before{
    border-top: 10px solid #e67e22;
    transform: rotate(120deg);
}
.Loading::after{
    border-top:10px solid rgb(9, 70, 121);
    transform: rotate(240deg);
}
.Loading span{
    position: absolute;
    width: 200px;
    height: 200px;
    color: cornsilk;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}
@keyframes a1{
    to{
        transform: rotate(360deg);
    }
}
@keyframes a2{
    to{
        transform:rotate(-360deg);
    }
}